<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Collaborative Editor Test</title>
  </head>
  <body>
    <h1>Collaborative Editor Test</h1>
    
    <textarea id="text_area" rows = "30" cols="80" onchange="boxChange(document.getElementById('text_area').value)"></textarea>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        let socket = io();

        function boxChange(box)
        {
          socket.emit('box change', {data: box});
        }

        socket.on('update box', function(json) {
          document.getElementById('text_area').value = json['data'];
        });
    </script> 
  </body>
</html>